#fvtt-party-sheet-system-select {
  display: flex;
  margin-top: 0.25rem;
  width: 100%;
}

.fvtt-party-sheet-toprow {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.fvtt-party-sheet-options {
  max-width: 400px;
  min-width: 209px;
}

.fvtt-party-sheet-ps-no-systems {
  padding: 1rem;
}

.fvtt-party-sheet-hc-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .fvtt-party-sheet-hc-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .fvtt-party-sheet-hc-item {
      display: flex;
      align-items: center;
      width: fit-content;
      border-radius: 5px;
      padding: 2px;
      margin: 2px;
      border: 1px solid rgba(1,1,1,0.25);
    }
  }
}

#fvtt-party-sheet-ps-table {
    text-align:center;

    th {
      padding: 0.3em;
    }

    tr {
      background-color: none;
    }

    tr.dark {
      background-color: rgba(0,0,0,0.25);
    }

    tr.light {
      background-color: rgba(0,0,0,0.1);
    }

    .flex-tc {
      display: inline-flex;
    }

    .namerace {
        padding-left:10px;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-around;
    }

    td {
      border: 1px solid darkgray;
    }

    tbody {
      td {
          padding: .25em;
      }
    }

    .fvtt-party-sheet-senses {
      text-overflow:ellipsis;
      overflow-x: hidden;
      max-width: 100px;
      white-space: nowrap;
      padding-left:5px;
      padding-right:5px;
    }

    .fvtt-party-sheet-dc {
      word-break: normal;
    }

    .fvtt-party-sheet-ps-name-bar {
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        text-align:left;

        .fvtt-party-sheet-ps-name-bar-namerace {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            margin-left: 2px;
            width: 100%;
            text-decoration: underline;

            .entry {
                text-overflow:ellipsis;
                overflow-x: hidden;
                max-width: 100px;
                white-space: nowrap;
                padding-left:5px;
                padding-right:5px;
            }

            .fullentry {
                grid-column: 1 / span 2;
                padding-left:5px;
                padding-right:5px;
            }
        }
    }

    .fvtt-party-sheet-ps-finrow {
        border-bottom: 1px solid black;
        margin-bottom: 5px;
    }
}
