#totm-dialog-darkmode {
  background:none;
  background-color:transparent;
  color:white;

  .dialog-button {
    color:white;
  }
}

.totm-hc-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .totm-hc-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .totm-hc-item {
      display: flex;
      align-items: center;
      width: fit-content;
      border-radius: 5px;
      padding: 2px;
      margin: 2px;
      border: 1px solid rgba(1,1,1,0.25);
    }
  }
}

#totm-ps-table {
    text-align:center;

    .namerace {
        padding-left:10px;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-around;
    }

    td {
        border: 1px solid darkgray;
    }

    .totm-senses {
      text-overflow:ellipsis;
      overflow-x: hidden;
      max-width: 100px;
      white-space: nowrap;
      padding-left:5px;
      padding-right:5px;
    }

    .totm-ps-name-bar {
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        text-align:left;

        .totm-ps-name-bar-namerace {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            margin-left: 2px;
            width: 100%;
            text-decoration: underline;

            .entry {
                text-overflow:ellipsis;
                overflow-x: hidden;
                max-width: 100px;
                white-space: nowrap;
                padding-left:5px;
                padding-right:5px;
            }

            .fullentry {
                grid-column: 1 / span 2;
                padding-left:5px;
                padding-right:5px;
            }
        }
    }

    .totm-ps-finrow {
        border-bottom: 1px solid black;
        margin-bottom: 5px;
    }
}
